# Compiled class files
*.class

# Log files
*.log

# IntelliJ IDEA files
.idea/

# Eclipse files
.classpath
.project
.settings/

# Maven files
target/

# Gradle files
build/
.gradle/

# JAR files
*.jar

# IDE-specific files
.vscode/
/.metadata/

# temp
*.txt

# bin
bin/